.home{
    height: 100%;
    padding-top: 40vh ;
    align-items: center;
    overflow: hidden;
    text-align: center;
    background: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.35)
        ),
        url('../resources/images/main-background.jpg') center top;
    background-size: cover;

    &_intro:hover{
        color: $secondary-color;
        @include transition-ease;
    }

    .home_intro_info_programmer:hover{
        color: $primary-color;
    }

    &_name{
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 3px solid set-text-color( $primary-color );
        
        &:hover{
            color: $primary-color;
            @include transition-ease;
        }

        &_last{
            color:$secondary-color;
            font-weight:650;

            /*&:hover{
                color: #fff;
                @include transition-ease;
            }*/
        }

    }
}